body{
    color: #40514e;
    margin: 0%;
    text-align: center;
}
h1{
    color:crimson;
    font-size: 5.65rem;
    margin: 50px auto 0 auto;
}
h2{
    color: crimson;
    font-size: 3rem;
    font-weight: normal;
    
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 80px;
 }
.pfp{
    padding: 10pc;
    border-radius: 50%;
}
 